// app global css in SCSS form

@import "quasar.variables";

body {
  background-color: $background-body-light;
  color: $text-light;
  font-size: 10pt;
}

body.body--dark {
  background-color: $background-body-dark;
  color: $text-dark;
}

.container {
  background-color: $background-container-light;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.body--dark .container {
  background-color: $background-container-dark;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.container-caption {
  font-variant: small-caps;
  color: $text-caption-light;
}

.body--dark .container-caption {
  color: $text-caption-dark;
}

.q-field {
  font-size: 10pt;
  font-weight: normal;
}

.q-field--outlined .q-field__control:before {
  border-color: $frame-light;
}

.body--dark .q-field--outlined .q-field__control:before {
  border-color: $frame-dark;
}

.q-field--outlined .q-field__control:hover:before {
  border-color: $frame-hovered;
}

.q-field--dense .q-field__label {
  color: $text-light;
}

.body--dark .q-field--dense .q-field__label {
  color: $text-dark;
}

.q-menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.body--dark .q-menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.dialog-frame {
  background-color: $background-container-light;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 8px;
}

.body--dark .dialog-frame {
  background-color: $background-container-dark;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.dialog-row {
  padding: 8px;
}

.dialog-title {
  font-size: 14pt;
  color: $text-caption-light;
  font-variant: small-caps;
}

.body--dark .dialog-title {
  color: $text-caption-dark;
}

.q-expansion-item .q-item--dense {
  padding: 0 0;
}

.q-expansion-item .q-item__label {
  font-weight: normal;
  color: $text-caption-light;
}

.body--dark .q-expansion-item .q-item__label {
  color: $text-caption-dark;
}

.q-separator {
  background-color: $frame-light;
}

.body--dark .q-separator {
  background-color: $frame-dark;
}
