// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #7070F0;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #5dba73;
$negative  : #C3606A;
$info      : #31CCEC;
$warning   : #F2C037;

// Body Background
$background-body-light: #F8F8F8;
$background-body-dark: #080808;

// Container Background
$background-container-light: #FFFFFF;
$background-container-dark: #101010;

// Frame Colors
$frame-light: #E0E0E0;
$frame-dark: #303030;
$frame-hovered: #7070F0;

// Button Colors
$button-background-light: #7070F0;
$button-background-dark: #7070F0;
$button-text-light: #FFFFFF;
$button-text-dark: #101010;

// Text
$text-light: #707070;
$text-dark: #909090;

// Caption Text
$text-caption-light: #101010;
$text-caption-dark: #F0F0F0;

// Hint Text
$text-hint-light: #989898;
$text-hint-dark: #484848;
